body {
  background-color: #CCCCCC;
}

.tituloPrincipal {
  padding-left: 20px;
}

.principal {
  background-color: #9a8484;
  padding: 30px;
}

#banner {
  width: 100%;
}

.textoCentro {
  text-align: center;
}

p {
  text-align: center;
}

#missao {
  font-size: 20px;
}

em strong {

  color: #6c5151;
}

.beneficos {
  background-color: #938a8a;
  padding: 20px;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.item {
  font-style: italic;
  font-size: 15px;
}

.imgBeneficios {
  width: 50%;
}